
@{
    ViewBag.Title = "Index";
}

<h2>Volunteer Control page</h2>

<body>
    <div id="largebox">
        <div id="mapbox">
            <p>map and address/radius stuff</p>
        </div>
        <div id="listbox">
            <p>List of jobs inside your search area</p>
        </div>
        <div id="jobsbox">
            <p>List of jobs that have been signed up for</p>
        </div>

    </div>
</body>

