 @{ 
   if (Session["userID"] == null)
   {
       Response.Redirect("~/users/login");
   }
} 

@{
     ViewBag.Title = "Volunteer";
}

<h1>Volunteer Control Pannel</h1>
<h2>Welcome @Session["userName"].ToString()</h2>
<body>
     <div id="largebox">
          <div id="mapbox">

               <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
               <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <h3>Filterable Table</h3>
                <p>Type something in the input field to search the table for city, state or zipcode:</p>
                <input class="form-control" id="myInput" type="text" placeholder="Search city...">
               

                  <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>
           </div>

                    <script>
                         $(document).ready(function () {
                              $("#myInput").on("keyup", function () {
                                   var value = $(this).val().toLowerCase();
                                   $("#myTable tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                   });
                              });
                         });
                    </script>
                   
       </div>



                  <div id="listbox">

                  <p>List of jobs inside your search area</p>
                                    

                  </div>

                  <div id="jobsbox">
                       
                  <p>List of jobs that have been signed up for</p>

     </div >
</body >

