
@{
    ViewBag.Title = "Organizer";
}

<h2>Organizer Control page</h2>

<body>
    <div id="largebox">
        <div id="postedbox">
            <p>List of jobs your posted</p>
        </div>
        <div id="newpostbox">
            <p>Area to post new jobs</p>
        </div>
    </div>
</body>