
@{
    ViewBag.Title = "Organizer";
}

<h2>Organizer Control page</h2>
<body>
    <div id="largebox">
        <div id="postedbox">
            <p>List of jobs your posted</p>
        </div>
        <div id="newpostbox">
            <p>Area to post new jobs</p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">


                        </div>
               </div>
            }
        </div>
    </div>
</body>
