@{
    ViewBag.Title = "Home Page";
}

<body>
    <div>
        <img src="~/Content/Images/parkPic.jpg" align="left" height="910" width="420" />
        <img src="~/Content/Images/ParkCleanUp.jpg" align="right" height="910" width="420" />
    </div>
    <p align="center">
        <br /><br /><br />
        Welcome to comunity improvement. This site has been setup to bring civic minded orginizations together with the volunteers that allow these jobs to be completed.<br />
    </p>
</body>