@{
    ViewBag.Title = "Home Page";
}

<body>
    <div>
        <p align="center">
            <br /><br /><br />
            Welcome to comunity improvement. This site has been setup to bring civic minded orginizations together with the volunteers that allow these jobs to be completed.<br />
        </p>
    </div>
    <div align="center">
        <img src="~/Content/Images/VolCleanUp.jpg" alt="Park Clean Up" width="1000" heigth="700" >
    </div>
</body>