body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,

textarea {
    max-width: 280px;
}

#largebox {
    width: 1000px;
    height: 700px;
    background-color: blue;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

#descriptionbox {
    height: 300px;
    width: 920px;
    background-color: green;
    float: left;
    margin-left: 30px;
    padding-bottom: 10px;
}

#beforebox {
    height: 300px;
    width: 450px;
    background-color: red;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

#afterbox {
    height: 300px;
    width: 450px;
    background-color: yellow;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

#postedbox {
    height: 550px;
    width: 950px;
    background-color: yellow;
    float: left;
    margin: 10px;
}

#newpostbox {
    height: 600px;
    width: 450px;
    background-color: red;
    float: right;
    margin: 10px;
}

#mapbox {
    height: 200px;
    width: 400px;
    background-color: grey;
    float: left;
    margin: 10px;
}

#listbox {
    height: 600px;
    width: 450px;
    background-color: yellow;
    float: right;
    margin: 10px;
}

#jobsbox {
    height: 300px;
    width: 450px;
    background-color: green;
    float: left;
    margin: 10px;
}

#login-div{
    position: absolute;
    left:40%;
    top:40%;
    border:1px solid #ccc;
    padding:10px 10px;
}

.field-validation-error{
    color: red;
}